body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

section {
    height: 100vh;
}

/* Nav */
.nav-link {
    color: grey;
}

.nav-link:hover {
    color: white;
}


#navLinkSelected {
    color: white;
}

/* Cards */

.card {
    background-color: #212529;
    color: white;
}

.card input,
.card .input-group #basic-addon1 {
    background-color: #6c757d;
    border: 2px solid #212529;
    color: white;
}

/* Fixes JQuery UI calendars being overlapped by other elements */
.ui-datepicker {
            z-index: 9999 !important;
        }